body {
    background-color: grey;
}

header {
    background-color: purple;
    text-align: center;
}

#game-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    height: 100%;
    width: 100%;

}

#question-area {
    width: 75%;
    min-height: 45%;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: cornflowerblue;
}

#answers-area {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 75%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: coral;

}

.answer-button {

    margin: 5px 10px 5px 10px;
}
#submit-button {
    margin: 15px 10px 5px 10px;
}