* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(2, 104, 167, 1) 100%);
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    background-color: darkblue;
    display: none;
    border-bottom: 1px solid orange;
    width: 100%;
    margin-bottom: 20px;
}
#headerBar{
    display: none;
}

header h1 {
    color: orange;
}

#scoreboard {
    display: flex;
    margin-left: 55px;
    align-items: center;
    gap: 5px;
}

#scoreboard h2,
h3 {
    color: orange;
}

h1 {
    margin-left: 10px;
}

#tutorial {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: darkblue;
    align-items: center;
    border: 5px solid orange;
}

#tut-text {
    margin: 10px;
    text-align: center;
    color: orange;
}

#tut-list {
    list-style: none;

}

#howtoplay {
    border-bottom: 1px solid orange;
    font-size: 24px;
}

#continue {
    display: flex;
    background-color: orange;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    justify-content: center;
    border: 2px solid darkblue;
    border-radius: 40px;
    color: darkblue;
    font-size: 18px;
}
#endDiv{
    display: none;
    flex-direction: column;
    width: 75%;
    background-color: darkblue;
    align-items: center;
    border: 5px solid orange;
}
#endDiv p {
    color: #fff;
}

/*Game container. Containing questions and answers*/
#game-container {
    position: relative;
    display: none;
    align-items: flex-end;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

}

/*Question area. Containing current question*/
#question-area {
    width: 85%;
    height: 25%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: transparent;
}

#question-text {
    display: flex;
    padding: 10px;
    align-content: center;
    align-items: center;
    font-size: 20px;
    color: orange;
    border-bottom: 2px solid orange;
}

/*Answer area. Containing answer and submit button*/
#answers-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 350px;
    margin: 15px auto 30px auto;
    background-color: transparent;
}

.answer-div {
    display: flex;
    flex-direction: row;
    background-color: cyan;
    margin: 10px 25px 10px 25px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 40px;
}

.option {
    display: flex;
    align-self: stretch;
    justify-content: end;
    width: 100%;
}

.answer-div p {
    font-size: 20px;
    margin: 5px 10px 5px 10px;
}

.answer-div:hover {
    cursor: pointer;
    border: 5px solid orange;
    color: orange;
    background-color: darkblue;
}

.answer-div.active {
    background-color: white;
    color: #fff;
}

/*All buttons style*/
.answer-button {

    margin: 5px 10px 5px 10px;
}

/*Submit button style*/
#submit-button {
    margin: 15px 10px 15px 10px;
}

#next-btn-div {
    display: none;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 5px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(1, 0, 18, 0.6306897759103641) 20%, rgba(0, 0, 0, 1) 52%, rgba(22, 167, 2, 1) 100%);
    width: 50%;
    border: 1px solid linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(1, 0, 18, 0.6306897759103641) 20%, rgba(0, 0, 0, 1) 52%, rgba(22, 167, 2, 1) 100%);
    border-radius: 40px;
}

#next-btn-div p {
    padding: 5px;
    color: white;

}